@model MyBlog.Models.ArticleDetailViewModel

@section Header{
    <header class="masthead" style="background-image: url('../../Content/img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Hulk's 旅行筆記</h1>
                        <span class="subheading">人生就像一場旅行，不必在乎目的地，在乎的，是沿途的風景，以及看風景的心情</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.DisplayFor(model => model.ContentText)
            </div>
        </div>
    </div>
</article>