@model IEnumerable<MyBlog.Models.ArticleViewModel>

@section Header{
<header class="masthead" style="background-image: url('../Content/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Hulk's 旅行筆記</h1>
                    <span class="subheading">人生就像一場旅行，不必在乎目的地，在乎的，是沿途的風景，以及看風景的心情</span>
                </div>
            </div>
        </div>
    </div>
</header>
    }
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        @foreach (var item in Model)
        {
            <div class="post-preview">
                <a href=@Url.Action("Detail", new { id = item.ID })>
                    <h2 class="post-title">
                        @Html.DisplayFor(modelItem => item.Subject)
                    </h2>
                    <h3 class="post-subtitle">
                        @Html.DisplayFor(modelItem => item.Summary)
                    </h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">@Html.DisplayFor(modelItem => item.CreateUser)</a>
                    on @Html.DisplayFor(modelItem => item.CreateDate)
                </p>
            </div>
            <hr>
        }
    </div>
</div>